{% set show_title = header_var('show_title')|defined(true) %}
{% set title = page.title|raw  %}
{% set address_details = page.header.addressDetails %}

<section id="contact">
<header class="major">
    {% if show_title %}<h2>{{ title }}</h2>{% endif %}
    {% if page.header.subtitle %}<p>{{ page.header.subtitle|raw }}</p>{% endif %}
</header>
    {{ page.content|raw }}
    {% include "forms/form.html.twig" with { form: forms('contact-form')} %}
    {% if address_details %}
	<div>
        <hr>
		{{ address_details|markdown|shortcodes|raw }}
	</div>
	{% endif %}
</section>
