{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set limit = page.header.limit|default(3) %}
{% set readmore_txt = page.header.readmore_text|raw|default('Read more') %}
{% set show_title = header_var('show_title')|defined(true) %}
{% set title = page.title|raw  %}

<section>
    <header class="major">
        {% if show_title %}<h2>{{ title }}</h2>{% endif %}
        {% if page.header.subtitle %}<p>{{ page.header.subtitle|raw }}</p>{% endif %}
    </header>

    <div class="posts">
         {% for p in blog.children.order('date', 'desc').slice(0, limit) %}
            {% set image = p.media[p.header.featured_image] ?: p.media.images|first %}
            {% set title = p.title|raw %}
            {% set Htag_title = 'h3' %}
            {% set datestamp = include('partials/page-bits/date.html.twig', { 'page': p } ) %}
            {% include 'partials/blog-list-item.html.twig' with { 'page': p, image, title, datestamp, show_image: true } %}
        {% endfor %}
    </div>
</section>
