{% set year = 'now'|date('Y') %}
{% set copyright = theme_var('copyright.text')|raw  %}
{% if copyright is not empty %}
<!-- Footer -->
<footer id="footer">
    <div class="copyright">{{ year }} &copy; {{ site.title|upper }}. <br>
        {{ copyright }}
    </div>
</footer>
{% endif %}