<div id="sidebar">

    <div class="inner">

        <!-- Search -->
        {% include 'partials/simplesearch_searchbox.html.twig' %}
        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            {% include 'partials/navigation.html.twig' %}
        </nav>

        <!-- Featured Section -->
        {% include 'partials/featured.html.twig' %}

        <!-- Contact Section -->
        {% include 'partials/contact.html.twig' %}

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; {{ "now"|date("Y") }} {{ site.title|e('html') }}. All rights reserved. Grav Theme by <a href="https://github.com/pmoreno-rodriguez">{{ site.author.name }}</a>. Original Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a>. Images: <a href="http://unsplash.com" target="_blank">Unsplash</a>.</p>
        </footer>

    </div>
</div>
