/* Team  
    Styles for new team template 
    by Pedro Moreno 
*/
.team {
    @include vendor('display', 'flex');
	@include vendor('flex-wrap', 'wrap');
    @include vendor('flex-direction', 'row');
    @include vendor('justify-content', 'space-between');
    $gutter: (_size(gutter) * 0.75);

    margin: 0 0 _size(element-margin) ($gutter * -1);
	width: calc(100% + #{$gutter});

    > .col-4 {width: calc((100% / 3) - #{$gutter}); }
    > .col-6 {width: calc((100% / 2) - #{$gutter}); }

    .member {
        box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
        padding: 30px;
        margin: 0 0 $gutter $gutter;
        @include vendor('display', 'flex');
        @include vendor('flex-wrap', 'wrap');
        @include vendor('flex-direction', 'column');
        @include vendor('align-items', 'center');
    
        .text {
            @include vendor('display', 'flex');
            @include vendor('flex-direction', 'column');
            @include vendor('align-items', 'center');
    
            img {
                height: 125px;
                border-radius: 50%;
                margin-bottom: 10px;
            }
    
            p:nth-of-type(1) {
                color: _palette(accent);
                margin-top: -5px;
            }
            p:nth-of-type(2) {
                margin: 10px;
                width: 90%;
                text-align: center;
            }
        }
        
        .links {
            width: 30%;
            @include vendor('display', 'flex');
            @include vendor('justify-content', 'center');
            
            .icon {font-size: 1.25em; padding-left: calc($gutter / 3);}
            
            a { border: none;
                    
                i {
                    color: _palette(accent);
                    font-size: 3.75em;
                    cursor: pointer;
        
                    &:hover {
                        color: lighten(_palette(accent), 3);
                    }
                }
            }  
        }
        
    }
    @include breakpoint('<=medium') {
        .member {
            width: calc(50% - #{$gutter});
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    @include breakpoint('<=small') {
        .member {
            width: 100%;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}