/* Team  
    Styles for new team template 
    by Pedro Moreno 
*/

#team {
    margin: (_size(element-margin) * 1.5) 0;
}

.team {
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
    padding: 30px;
    @include vendor('display', 'flex');
	@include vendor('flex-wrap', 'wrap');
    @include vendor('flex-direction', 'column');
    @include vendor('align-items', 'center');

    .text {
        @include vendor('display', 'flex');
        @include vendor('flex-direction', 'column');
        @include vendor('align-items', 'center');
        font-size: 0.9em;

        img {
            height: 125px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        p:nth-of-type(1) {
            color: _palette(accent);
            margin-top: -5px;
        }
        p:nth-of-type(2) {
            margin: 10px;
            width: 90%;
            text-align: center;
        }
    }

    .links {
        width: 30%;
        @include vendor('display', 'flex');
        @include vendor('justify-content', 'space-evenly');

        a { border: none;
        
            i {
                color: _palette(accent);
                font-size: 1.25em;
                cursor: pointer;
    
                &:hover {
                    color: lighten(_palette(accent), 3);
                }
            }
        }  
    }
    
}
@include breakpoint('<=small') {
    .team {
        width: 100%;
    }
}
