/*# Custom CSS Styles */

#breadcrumbs {
    height: 2rem;
    line-height: 1.7rem;
    padding-left: 0rem;
    margin: 1em 0;
}

#breadcrumbs span {
    display: inline-block;
    padding: 0 0.2rem;
}

.pagination a, .pagination span {padding: 0 15px;}

ul.pagination li > .page.active {font-size: 0.9em;}
ul.pagination li > .page {font-size: 0.9em;}

/* Active the pagination numbers in small screens */

@media screen and (max-width: 480px) {
    ul.pagination li:nth-child(n+2):nth-last-child(n+2) {
        display: inline-block;
    }
    ul.pagination li:first-child {
        padding-right: 0;
    }
}


/* Class for tags and categories */

.tags {
    color: #5a2908;
    font-size: 0.9em;
    border-bottom: none;
}

.data-post {
    color: #7c6556;
    font-size: 0.9em !important;
    text-transform: none;
    margin-bottom: 1em !important;
}

#header .logo {
    font-size: 2.125em;
}
.no-dropdown {
    display: block !important;
}

/* GRAV LOGIN OVERRIDED STYLES */
#grav-login .button {
  vertical-align: middle;
  height: auto;
  line-height: 2.5em;
  padding: 0.5em 1.5em;
  white-space: normal;
}