/* GRAV BREADCRUMBS PLUGIN OVERRIDED STYLES */

#breadcrumbs {
    height: 2rem !important;
    line-height: 1.7rem !important;
    padding-left: 0rem !important;
    margin: 1em 0;
}

#breadcrumbs span {
    display: inline-block;
    padding: 0 0.2rem;
}