/* Class for tags and categories */

.tags {
    color: #5a2908;
    font-size: 0.9em;
    border-bottom: none;
}

.data-post {
    color: #7c6556;
    font-size: 0.9em !important;
    text-transform: none;
    margin-bottom: 1em !important;
}