{% extends 'partials/base.html.twig' %}

{% block body %}

    <p>
    {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}
    </p>
    <header>
        <h1>{{ page.title|raw }}</h1>
    </header>
        
        <div class="posts">
            {% set collection = page.collection() %}

            {% for child in collection %}
                    {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
            {% endfor %}
        </div>
        {# Render the pagination list #}
            <div class="align-center">
            {% if config.plugins.pagination.enabled and collection.params.pagination %}
                {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
            {% endif %}
            </div>

{% endblock %}
