{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}

{% if uri.param('category') %}
	{% set page_title = theme_config.listing_title.taxonomy.category | default('Posts in Category: ') ~ uri.param('category') %}
{% elseif uri.param('tag') %}
	{% set page_title = theme_config.listing_title.taxonomy.tag | default('Posts with Tag: ') ~ uri.param('tag') %}
{% else %}
	{% set page_title = theme_config.listing_title.blog | default('Blog') %}
{% endif %}

{% block body %}

    <p>
    {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}
    </p>
    <header>
        <h2>
        <span>{{page_title}}</span>
        </h2>
    </header>
        
        <div class="posts">
            {% for child in collection %}
                {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
            {% endfor %}
        </div>
        {# Render the pagination list #}
    {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
        <div class="align-center">
            {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
        </div>
    {% endif %}

{% endblock %}