{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_pagination = header_var('content.pagination', [page, blog])|defined(true) %}
{% set show_breadcrumbs = header_var('content.breadcrumbs', [page, blog])|defined(false) %}
{% set readmore_txt = blog.header.readmore_text|raw|default('Read more') %}

{# Set page title by taxonomy #}
{% if uri.param('category') %}
	{% set listing_title = 'EDITORIAL.BLOG.LISTING_TITLE_CATEGORY'|t ~ uri.param('category') %}
{% elseif uri.param('tag') %}
	{% set listing_title = 'EDITORIAL.BLOG.LISTING_TITLE_TAG'|t ~ uri.param('tag') %}
{% elseif uri.param('author') %}
	{% set listing_title = 'EDITORIAL.BLOG.LISTING_TITLE_AUTHOR'|t ~ uri.param('author') %}
{% elseif uri.param('archives_month') %}
    {% set listing_title = 'EDITORIAL.BLOG.LISTING_TITLE_MONTH'|t ~ uri.param('archives_month')|replace({'_': ' '}) %}
{% else %}
    {% set listing_title = page.header.subtitle|raw %}
{% endif %}

{% block content %}

    {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}
    
    <header class="main">
        {% if show_image and image %}
	    <span class="image main">
		{{ image.cropZoom(img_width, img_height).loading('lazy').decoding('async').html(title,title,'')|raw }}
	    </span>
	{% endif %}
        {% if show_title %}<h1>{{ title }}</h1>{% endif %}
        {% if listing_title %}<p>{{ listing_title|raw }}</p>{% endif %}
    </header>
    <div>
    {{ page.content|raw }}
    </div>
    <div class="posts">
        {% for child in collection %}
            {% set image_child = child.media[header.featured_image] ?: child.media.images|first %}
            {% set child_showImage = child.header.show_pageimage|defined(true) %}
            {% set datestamp = include('partials/page-bits/date.html.twig', { 'page': child }) %}
            {% set Htag_title = 'h2' %}
            {% include 'partials/blog-list-item.html.twig' with { page: child, 'show_image': child_showImage, 'image': image_child, 'title': child.title } %}
        {% endfor %}
    </div>
    {# Render the pagination list #}
    {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
    <div class="align-center">
        {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
    </div>
    {% endif %}

{% endblock %}