{% extends 'partials/base.html.twig' %}
{% set image = page.media[header.featured_image] ?: page.media.images|first %}
{% set title = page.title %}

{% block content %}

	<header class="main">   
	{% if image %}
	    <span class="image main">
		{{ image.cropZoom(1000,300).loading('lazy').html(title,title,'')|raw }}
	    </span>
	{% endif %}
	<h1>{{ title|raw }}</h1>
    {% if page.header.subtitle %}<p>{{ page.header.subtitle|raw }}</p>{% endif %}
	</header>
	<div>
	    {{ page.content|raw }}
	</div>

{% endblock %}
