{% extends 'partials/base.html.twig' %}

{% block content %}
    <section>
    <header>
        {% if page.header.primaryImage %}
            <span class="image main"><img src="{{page.media[page.header.primaryImage].url}}" alt="" /></span>
        {% endif %}
        <h2>{{ page.title|raw }}</h2>
    </header>
    <div>
        {{ page.content|raw }}
    </div>
{% endblock %}
