{% extends 'partials/base.html.twig' %}

{% block content %}
    <section>
    <header>
        {% if page.header.primaryImage %}
            <span class="image main"><img src="{{ page.media[page.header.primaryImage].url|e}}"></span>
        {% endif %}
        <h2>{{ page.title }}</h2>
    </header>
    <div>
        {{ page.content }}
    </div>
{% endblock %}
