{% extends 'partials/base.html.twig' %}
{% set primaryImage = ((page.header.primaryImage)|first) %}

{% block content %}
    <section>
    <header>
        {% if page.header.primaryImage %}
            <span class="image main">{{ page.media[primaryImage.name].html() }}</span>
        {% endif %}
        <h2>{{ page.title }}</h2>
    </header>
    <div>
        {{ page.content }}
    </div>
{% endblock %}
