{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="lead text-center">
        <p>    
            <h1>{{ 'PLUGIN_ERROR.ERROR'|t }} {{ page.header.http_response_code }} </h1>
        </p>
    </div>
    <div class="text-center">
        {{ page.content|raw }}
    </div>
{% endblock %}
